<header>
	<div class="sticky-nav">
		<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
		
		<div id="logo">
			<a id="goUp" routerLink="/" title="Brushed | Responsive One Page Template">Brushed Template</a>
		</div>
		
		<nav id="menu">
			<ul id="menu-nav">
				<li routerLinkActive="current"><a routerLink="home">Inicio</a></li>
				<li routerLinkActive="current"><a routerLink="our-work">Nuestro trabajo</a></li>
				<li routerLinkActive="current"><a routerLink="about-us">Nosotros</a></li>
				<li routerLinkActive="current"><a routerLink="contact">Contacto</a></li>
			</ul>
		</nav>
		
	</div>
</header>
<!-- End Header -->